@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Prata&display=swap");

:root {
  // Font Styling
  --font-body: "Inter", sans-serif;

  // Color Styling
  --main-black: #0a0a0b;
  --main-purple: #1d1b67;
  --main-bg-blue: #46ccde;
  --secondary-bg-blue: #cdf9ff;
  --font-heading: #005661;
  --font-body-blue: #3b60bf;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(2.25rem, calc(1.3571rem + 4.4643vw), 3.5rem);
}

p {
  font-family: var(--font-body);
  color: var(--main-white);
  opacity: 0.67;
  font-size: 1.125rem;
  line-height: 1.5;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

.toggle:checked + label {
  background: #bada55;
}

.toggle:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

.container {
  max-width: 1200px;
  padding-inline: 1rem;
  margin: 0 auto;
}

.sticky {
  position: sticky;
  z-index: 10000;
  top: 0;
  width: 100%;
}

.bold {
  font-weight: 700;
  color: black;
}

.sticky-bg {
  background-color: #f2f2f2f5;
  &.open {
    .dropdown {
      background-color: #f2f2f2f5 !important;
    }
  }
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 515px) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }

    .dropdown {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;

      @media screen and (min-width: 515px) {
        display: block;
        position: relative;
        left: unset;
        top: unset;
        display: flex;
        align-items: center;
      }

      nav {
        @media screen and (min-width: 515px) {
          margin: 0 auto;
        }
        ul {
          @media screen and (min-width: 515px) {
            display: flex;
            column-gap: 1.5rem;
          }
          li {
            list-style: none;
            a {
              text-decoration: none;
              font-family: var(--font-body);
              color: var(--main-black);
              opacity: 0.67;
              font-size: 1.125rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    #menu {
      background: none;
      border: none;
      @media screen and (min-width: 515px) {
        display: none;
      }
      #close {
        display: none;
      }
    }
  }

  &.open {
    @media screen and (max-width: 515px) {
      .container {
        #menu {
          #close {
            display: block;
          }
          #hamburger {
            display: none;
          }
        }
        .dropdown {
          display: grid;
          text-align: center;
          background-color: #fff;
          display: grid;
          row-gap: 1rem;
          padding-top: 2.5rem;
          nav {
            ul {
              display: grid;
              row-gap: 1rem;
            }
          }
          .cta-btn {
            border-radius: 0px;
          }
        }
      }
    }
  }
}
.hero {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 10px;
  }
  .hero-section-1 {
    h1 {
      color: var(--main-purple);
      font-family: var(--font-body);
      font-weight: bold;
      font-size: clamp(2rem, calc(1.4545rem + 2.7273vw), 3.5rem);
    }
    p {
      color: var(--main-black);
      margin: 1rem 0;
    }
    .hero-schedule-demo {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .cta-btn {
        width: 175px;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
      }
      .view-demo {
        color: #0a0a0bb0;
        font-family: var(--font-body);
        font-size: clamp(1rem, calc(0.9545rem + 0.2273vw), 1.125rem);
        font-weight: 700;
      }
    }
    .hero-learn-more {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      gap: 15px;
      p {
        font-size: 1rem;
      }
      a {
        color: var(--main-black);
        font-weight: 700;
      }
    }
  }
  .hero-section-2 {
    background-color: var(--main-bg-blue);
    padding: 2rem;
    img {
      max-width: 100%;
    }
  }
}

.user-section-1 {
  .user-section-list {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-flow: column;
      h1 {
        font-size: 2rem;
      }
    }
    h1 {
      color: var(--main-purple);
      font-family: var(--font-body);
      font-size: clamp(2rem, calc(1.6364rem + 1.8182vw), 3rem);
      font-weight: 700;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;
      li {
        list-style: none;
        padding-inline-end: 5px;
        img {
          width: 50px;
          height: auto;
        }
      }
    }
  }
  .user-section-info {
    p {
      font-family: var(--font-body);
      color: var(--main-black);
      margin-bottom: 1.5rem;
    }
  }
}

.section-info-final {
  background-color: var(--secondary-bg-blue);
  padding: 2rem 0;
  .section-dashboard {
    margin-bottom: 2rem;
    h3 {
      color: var(--font-body-blue);
      font-size: 1rem;
      font-weight: 700;
      font-family: var(--font-body);
    }
    h1 {
      color: var(--font-heading);
      font-weight: 700;
      font-family: var(--font-body);
    }
    p {
      color: var(--main-black);
      font-family: var(--font-body);
    }
    a {
      margin: 1rem 0;
    }
  }
  .section-analytics {
    margin-bottom: 2rem;
    h3 {
      color: var(--font-body-blue);
      font-size: 1rem;
      font-weight: 700;
      font-family: var(--font-body);
    }
    h1 {
      color: var(--font-heading);
      font-weight: 700;
      font-family: var(--font-body);
    }
    p {
      color: var(--main-black);
      font-family: var(--font-body);
      margin-bottom: 1rem;
    }
    .vld {
      gap: 5px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        font-family: var(--font-body);
        font-weight: 700;
        color: var(--font-heading);
      }
      span {
        font-size: 1.3rem;
        color: var(--font-heading);
        align-items: center;
      }
    }
  }
}

.footer-container {
  margin-bottom: 3rem;
  .footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    align-items: center;
    margin-right: auto;
    h2 {
      font-family: var(--font-body);
      margin: 1rem 0;
    }

    .footer-product,
    .footer-help,
    .footer-company {
      margin-right: 5rem;
      li {
        margin: 0.5rem 0;
        a {
          text-decoration: none;
          font-family: var(--font-body);
          color: #0a0a0b99;
        }
      }
    }

    @media screen and (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .tweetnow {
    h2 {
      font-family: var(--font-body);
      margin: 1rem 0;
    }
    form {
      max-width: 500px;
      display: flex;
      flex-direction: row;
      border: 1px solid #0a0a0b7a;
      border-radius: 5px;
      padding: 5px;
      input {
        flex-grow: 2;
        border: none;
        font-size: clamp(0.875rem, calc(0.8659rem + 0.0455vw), 0.9rem);
        text-align: center;
        outline: none;
      }
      a {
        padding: clamp(0.5rem, calc(0.3182rem + 0.9091vw), 1rem);
        text-align: center;
        font-size: clamp(0.875rem, calc(0.8659rem + 0.0455vw), 0.9rem);
        text-decoration: none;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
  }
}

.cta-btn {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  background-color: var(--main-purple);
  padding: 0.75rem 2rem;
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Pricing Page Styles
.pricing-wrapper {
  margin-inline: auto;
  .pricing-description {
    h1 {
      font-family: var(--font-body);
      text-align: center;
      font-size: 3rem;
    }
    p {
      text-align: center;
      color: var(--main-black);
      margin: 1rem 0 2rem;
      font-size: 1.1rem;
    }
    .pricing-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      .yearly,
      .monthly {
        margin: 0;
        cursor: pointer;
      }
      .toggle {
        margin: 0 1rem;
        label {
          cursor: pointer;
          text-indent: -9999px;
          width: 75px;
          height: 37px;
          background: #3a84f7;
          display: block;
          border-radius: 100px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 1px;
            width: 33px;
            height: 33px;
            background: #fff;
            border-radius: 100px;
            transition: 0.3s;
          }
          // input[type="checkbox"] {
          //   height: 0;
          //   width: 0;
          //   visibility: hidden;
          //   &:checked + label {
          //     background: green;
          //     ::after {
          //       left: calc(100% - 5px);
          //       transform: translateX(-100%);
          //     }
          //   }
          // }
        }
        .circle {
          z-index: 10000;
          width: 35px;
          height: 35px;
          border-radius: 50px;
          background-color: #005661;
        }
      }
    }
  }
  .pricing-grid {
    display: grid;
    gap: 15px;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    .pricing-card {
      display: grid;
      justify-content: stretch;
      border: 1px solid #0a0a0b57;
      border-radius: 5px;
      height: 100%;
      padding: 1rem;
      .price {
        display: flex;
        align-items: baseline;
        font-family: var(--font-body);
        span {
          color: #0a0a0b86;
        }
      }
      p {
        font-family: var(--font-body);
        font-size: clamp(1rem, calc(0.8909rem + 0.5455vw), 1.3rem);
        margin: 1rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid #0a0a0b57;
      }
      .features {
        display: grid;
        li {
          display: flex;
          gap: 20px;
          p {
            margin: 0.5rem 0;
            padding: 0;
            border: 0;
          }
        }
      }
      .cta-btn {
        width: 100%;
        height: 52px;
        text-align: center;
        padding: 1rem;
        margin: 1rem 0;
        font-size: 1rem;
      }
    }
  }
}
